body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background-color: black;
}

.head button {
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(210, 204, 204);
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.head button:hover {
    color: rgb(214, 214, 214);
    background-color: black;
    box-shadow: 0 20px 30px darkblue;
}


.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 5px;
}

.project-container {
    position: relative;
    width: calc(25% - 10px);
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
}

.project-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.project-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 3px;
}

.project-container:hover {
    transform: scale(1.05);
    background-color: lightblue;
    box-shadow: 0 16px 20px darkblue; /* Added box shadow on hover */
}

.overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.project-container:hover .overlay {
    opacity: 1;
}

.overlay a {
    display: block;
    font-size: 24px;
    color: white;
    padding: 5px;
}
@media (max-width: 1200px) {
    .project-list {
        justify-content: center;
    }
    .project-container {
        width: calc(33.33% - 10px);
    }
}

@media (max-width: 768px) {
    .project-container {
        width: calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .head {
        height: 80px;
    }
    .head button {
        font-size: 16px;
    }
    .project-container {
        width: 100%;
    }
}

